.cartHome__div{
    width: 80%;
    margin: 0rem auto;
}
.slick-list{
    /* padding: 5rem !important; */
    padding-bottom: 5rem !important;
    /* padding-left: 1rem !important; */
}
.slick-slide{
    padding-right: 1rem !important
}
.cartHome__h2{
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    padding-top: 4rem;
}
.cartHome__maindiv{
    background-image: url("../../../images/BackgroundImages/Shoppingcarthom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
}
@media screen and (max-width:480px){
    .cartHome__div{
       width:100%;
    }
}